
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.FormulaireReservation {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 50px;
  background-image: url("Img/backdroung-accueil.webp");
  background-size: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formulaire {
  width: 100%;
  max-width: 820px;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.9);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cote-form {
  background-color: #623e2a;
  position: relative;
font-family: 'Tilt Neon', cursive;
font-weight: 400;
color: white;
background-color: #623E2A;
padding: 10px;
}
.cote-info {
  display: flex;
  border-right: 10px solid rgb(255, 255, 255);
  justify-content: flex-end;
}
h1{
    text-align: center;
    font-size: 1.5rem;
    color: white;
    z-index: 3;
    position: relative;
}
.surligneurone {
  background-color: #91713c;
  position: absolute;
  z-index: 1;
  width: 290px;
  height: 30px;
  top: 12px;
  left: 60px;

}
/* FORMULAIRE COTE FORMULAIRE */
span {
color: #E3E3E3;
font-style: italic;
}
.cote-form .form-block:not(:first-child) {
margin-top: 0.5em;
}

.cote-form input,
.cote-form select {
  margin-top: 8px;
  width: 100%;
  height: 30px;
  border: 2px solid gray;
  color: rgb(0, 0, 0);
  border-radius: 4px;
  font-family: Inter, sans-serif;
}

.form-blockdate {
display: flex;
justify-content: space-between;
}
.form-blockdate input {
width: 48%;
}
/* VALIDITY  */
  input:invalid + span::after {
  position: absolute;
  content: "✖";
  color: red;
  padding-left: 5px;
  }
  
  input:valid + span::after {
  position: absolute;
  content: "✓";
  color: green;
  padding-left: 5px;
  }
  .cote-form input[type=submit] {
    font-family: 'Tilt Neon', cursive;
    font-size: 1.125rem;
    font-weight: 500;
    width: 100%;
    border: 0;
    border-radius: 20px;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    transition: color 0.5s ease;
}

.cote-form input[type=submit]:hover {
    background-color: #91713c;
    color: #ffffff;
}
/* BARRE DE NAVIGATION ============================================== */
nav {
  position: relative;
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  position: static;
  font-size: 1.2rem;
  z-index: 1;
  background-color: #623e2a;
}

.nav-items > ul > li {
  position: relative;
  display: inline;
  list-style: none;
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.nav-items > ul > li > a {
  color: white;
  text-decoration: none;
}

.nav-items > ul > li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.17rem;
  background-color: gold;
  left: 0;
  bottom: 0;
  transform-origin: 0% 100%;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-items > ul > li:hover::after {
  transform: scaleX(1);
}
.nav-logo img {
  width: 150px;
  height: 50px;
}
.nav-button a {
  border-radius: 20px 20px 20px 20px;
  background-color: #91713c;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: color O.5s ease;
}

.nav-button a:hover {
  transition: all 0.5s ease;
  background-color: #72582e;
  color: white;
  text-decoration: none;
}

.nav-button a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  position: relative;
  z-index: 1;
}
/* Coté information Chambre de Luxe ============================================== */
.Chambre-Luxe,.ChambreLuxeVueMer,.ChambreGoldenResort,.AucuneChambre {
  background-color: #623E2A;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  display: none;
  width: 100%;
}
.cote-info img {
  height: 38%;
  width: 80%;
  display: flex;
  margin: 50px auto;
  border-top: solid 5px white;
  padding-top: 50px;
}
.Chambre-border {
  padding-top: 40px;
  padding-left: 40px;
}
.Chambre-border p {
  color: white;
  font-size: 1.5rem;
  z-index: 3;
  position: relative;
  background-color: #91713c;
  margin-right: 33px;
  padding: 3px;
}
.AucuneChambre p {
  font-size: 2rem;
}

/* anim test */

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.Chambre-Luxe,.ChambreLuxeVueMer,.ChambreGoldenResort,.AucuneChambre {
  animation: fade-in 1.5s forwards;
}

/* Balise détais pour la description */
details {
  font-size: 1rem;
  width: 90%;
  padding-top: 10px;
  color: white;
}

details > summary {
  padding: 2px 6px;
  background-color: #91713c;
  border: none;
  box-shadow: 3px 3px 4px rgb(255, 255, 255);
  cursor: pointer;
}

details > ul {
  border-radius: 0 0 10px 10px;
  background-color: #91713c;
  padding: 2px 20px;
  box-shadow: 3px 3px 4px rgb(255, 255, 255);
}

details[open] > summary {
  background-color: #624c29;
}
